<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <link rel="icon" href="{% static 'img/logo.ico' %}" type="image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>PELE Appointment</title>
</head>
<body>
{% include 'includes/header.html' %}
<main>
    {% block content %}

    {% endblock %}
</main>
{% include 'includes/footer.html' %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
