{% extends "base.html" %}
{% load i18n %}


{% block content %}
  {% with card_header='Change password' %}
    {% include 'users/includes/header_card.html' %}
      {% endwith %}
              {% csrf_token %}
      {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            {{ error|escape }}
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group row my-3 p-3">
      <label for="id_old_password">
        {% trans 'Old password' %}
        <span class="required text-danger">*</span>
      </label>
      <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password">
    </div>
    <div class="form-group row my-3 p-3">
      <label for="id_new_password1">
        {% trans 'New password' %}
        <span class="required text-danger">*</span>
      </label>
      <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
        <small id="id_new_password1-help" class="form-text text-muted">
          <ul><li>{% trans 'Your password does not have to match or be similar to your name or other personal information.' %}</li>
            <li>{% trans 'Your password mora and sadrzhi at least 8 characters.' %}</li>
            <li>{% trans 'Your password cannot be one of the commonly used passwords.' %}</li>
            <li>{% trans 'Your password cannot be made up of numbers only.' %}</li></ul>
        </small>
    </div>
    <div class="form-group row my-3 p-3">
      <label for="id_new_password2">
        {% trans 'New password confirmation' %}
        <span class="required text-danger">*</span>
      </label>
      <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
    </div>
    <div class="col text-center">
      <button type="submit" class="btn btn-primary">
        {% trans 'Change password' %}
      </button>
    </div>
      </form>
    {% include 'users/includes/body_card.html' %}
{% endblock %}
