{% extends 'base.html' %}
{% load i18n %}
{% block title %}Password recovery{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">{% trans 'Password recovery completed' %}</div>
      <div class="card-body text-center">{% trans 'Your password has been saved. Use it to login!' %}
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
    <div>
        <a href="{% url 'users:login' %}">{% trans 'Log in' %}</a>
    </div>

{% endblock %}
