{% extends 'base.html' %}
{% load i18n %}
{% block title %}Recovery password{% endblock %}
{% block content %}
    {% with card_header='To reset your old password, enter the email address you registered with.' %}
    {% include 'users/includes/header_card.html' %}
    {% endwith %}
<form method="post">
{% csrf_token %}
<div class="form-group row my-3 p-3">
  <label for="id_email">
      {% trans 'Email address' %}
  <span class="required text-danger">*</span>
  </label> 
  <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
</div>
<div class="col text-center">
<button type="submit" class="btn btn-primary text-center">
    {% trans 'Reset your password' %}
  </button>
</div>
</form>
{% include 'users/includes/body_card.html' %}
{% endblock %}
