{% extends 'base.html' %}
{% load i18n %}
{% load user_filters %}
{% block title %}Password confirmation{% endblock %}
{% block content %}


<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">
                {% trans 'Password recovery.' %}
            </div>
            <div class="card-body text-center">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row my-3">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.field.required %}
                            <span class="required text-danger">*</span>
                            {% endif %}
                        </label>
                        <div>
                            {{ field|addclass:'form-control' }}
                            {% if field.help_text %}
                            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                {{ field.help_text|safe }}
                            </small>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">
                            {% trans 'Reset' %}
                        </button>
                    </div>
                </form>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
