{% extends 'base.html' %}
{% load i18n %}
{% block title %}Recovery password{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">
                {% trans 'To reset your old password, enter the email address you registered with.' %}
            </div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row my-3 p-3">
                        <label for="id_email">
                            {% trans 'Email address' %}
                            <span class="required text-danger">*</span>
                        </label>
                        <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary text-center">
                            {% trans 'Reset your password' %}
                        </button>
                    </div>
                </form>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
