{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div>
    <div>
        <div id="form_appointment" class="container">
            <form method="post" enctype="multipart/form-data"><br>
                {% csrf_token %}
                <label for="name">{% trans 'First Name and Second name' %}</label>
                <input type="text" id="name" name="name" value="{{ name }}" required>
                <label for="email">{% trans 'Email' %}</label>
                <input type="email" id="email" name="email" value="{{ email }}">
                <label for="phone">{% trans 'Phone number' %}</label>
                <input type="text" id="phone" name="phone" value="{{ phone }}" required>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans 'Select the barber' %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a type="radio" class="dropdown-item  barbers " href="#">Action</a></li>
                        <li><a type="radio" class="dropdown-item  barbers" href="#">Another action</a></li>
                        <li><a type="radio" class="dropdown-item  barbers" href="#">Another one</a></li>
                    </ul>
                </div>
                <div>
                    <div>
                        <label for="date">{% trans 'Appointment Date' %}</label>
                        <input type="date" id="date" name="date" required>
                    </div>
                    <div>
                        <div class="select__item" required="true">
                            <label for="time">{% trans 'Appointment Time' %}</label>
                            <input readonly="true" name="time" type="text" id="time" class="select__output"
                                   tabindex="1">
                            <div class="select__content"></div>
                            </input>
                            <div class="select__body" style="display: none;">
                                <ul class="form-check">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <label for="comment">{% trans 'Comment' %}</label>
                    <textarea id="comment" name="comment" style="height:100px"></textarea>
                    <div class="col text-center">
                        <input id="btn_submit" type="submit" value="{% trans 'Submit' %}" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="module" src="{% static  'js/main.js' %}"></script>
<script type="module" src="{% static  'js/barbers_choice.js' %}"></script>

{% endblock %}
