section {
  text-align: center;
}



* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}



.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 100%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding-bottom: 40px;
  padding-top: 30px;
  padding-left: 30px;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592A08;
  border-radius: 30px;
}


/*.container {*/
/*  padding: 20px 20px 20px 20px;*/
/*  border: 1px solid lightgrey;*/
/*  border-radius: 30px;*/
/*   max-width:500px;*/
/*  margin:auto;*/
/*}*/

.container1 {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
   max-width:600px;
margin:auto;
}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type=datetime-local] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


input[type=email],textarea, select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=number] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#time {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type=date] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 400px) {
  .row {
    flex-direction: column;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

#text-detail-post {
    margin-top: 30px;
}

.card-header {
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    flex-direction: column;
}

main {
  margin-top: 2%;
}

.navbar-brand {
    padding-left: 30px;
}


#follow_btn {
    margin-top: 20px;
}

#posts_list {
    margin-bottom: -10px;
}

#btn_main_page {
    margin: 5px;
}

#form_appointment {
  /*min-width: 20%;*/
  /*max-width: 70%;*/

}
/*header*/

header {
  margin-bottom: 20px;
   border-bottom-color: black;
}
.nav nav-pills {
  float: right;
}


#btn_submit {
  margin-top: 30px;
    background-color: white;
    color: black;
    border: 1px solid #dee2e6!important; /* Green */
    width: 200px;
    min-width: 100px;
    max-width: 250px;

}

#submit {
    background-color: white;
    color: black;
    border: 1px solid #dee2e6!important; /* Green */
    width: 40%;

}



   .select {
  width: 60%;
}

.select:not(:last-child) {
  margin-right: 32px;
}

.selects__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #111111;
  opacity: 0.8;
  margin-bottom: 16px;
  margin-left: 16px;
}

.select__item {
  position: relative;
}

.select__output {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  padding: 15px 16px;
  background: #FFFFFF;
  border: 2px solid rgba(125, 138, 253, 0.3);
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.shadow {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.select__content {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #777;
  opacity: 0.8;
}

.select__body {
  position: absolute;
  top: 64px;
  left: 0;
  width: 60%;
  max-height: 379px;
  padding: 30px 2px;
  background: #FFFFFF;
  border: 1px solid rgba(125, 138, 253, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow-y: scroll;
  z-index: 1;
}

.select-body__height {
  height: 443px;
}

.select-body__list {
  list-style: none;
}

.select-body__item:not(:last-child) {
  margin-bottom: 16px;
}

.select-body__item:last-child {
  margin-bottom: 20px;
}

.select__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.select-btn__item {
  background: #638FFF;
  border-radius: 4px;
  padding: 9px 63px;
  border: none;
  margin: 0 auto;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.hide {
  display: none;
}

.show {
  display: block;
}



a[href='#']{
  border-style: solid;
  border-color: rgb(221, 221, 221);
  text-align: center;
  background-color: white;
  cursor: pointer;
}

a[href='#'].active {
  background-color: gray;
}


.form-check-label {
  font-family: 'Ubuntu', sans-serif;
}


.select__output {
  text-align: left;
}



input[type="radio"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  background-color: red;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}


/*!**! Scroll bar*/


::-webkit-scrollbar {
  width: 0;
}

/*!**! Nav bar*/


.navbar-brand {
    padding-left: 30px;
}
.card-header {
    text-align: center;
}

.btn-primary {
  text-align: center;
}

.btn:hover {
  background-color: gray!important;
}

#text_user {
     border-radius: 10px 15px;
}

/*# Footer*/

@media only screen and (max-width: 600px) {
  footer {
    display: block!important;
    clear: both!important;
    margin-top: 15vh!important;
    position: sticky!important;

}

}


footer {
  margin-top:calc(5% + 60px);
  bottom: 0;
}

/*!*ds*! Optimize for mobile*/

input[type=date] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
